flight_proj/src/main/app/flight_proj.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="flight_proj-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="flight_proj-config" raml="flight_proj.raml" consoleEnabled="false" doc:name="Router"/>
	<db:generic-config name="Generic_Database_Configuration" url="jdbc:sqlserver://DESKTOP-N4D99LR:1433;databaseName=population;user=prachee;password=varundb" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" doc:name="Generic Database Configuration"/>
    <flow name="flight_proj-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="flight_proj-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="flight_proj-config" doc:name="APIkit Router"/>
        <exception-strategy ref="flight_proj-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="flight_proj-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="flight_proj-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="flight_proj-config" doc:name="APIkit Console"/>
    </flow>

    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="flight_proj-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
	<flow name="flight_projFlow">
		<set-payload value="#[test]" doc:name="Set Payload"/>
	</flow>
	<flow name="get:/flightdata:flight_proj-config">
		<set-variable variableName="test" value="#[message.inboundProperties.'http.query.params'.flightno]" doc:name="Variable"/>
		<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from flight where flightno= #[flowVars.test];]]></db:parameterized-query>
		</db:select>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-variable variableName="test"><![CDATA[%dw 1.0
%output application/json
---
flightno:  payload[0].flightno]]></dw:set-variable>
		</dw:transform-message>
		<set-payload value="#[payload]" doc:name="Set Payload"/>
		<choice doc:name="Choice">
			<when expression="#[flowVars.test !=&quot;&quot;]">
				<logger message="#[&quot;message pass&quot;]" level="INFO" doc:name="Logger"/>
				<db:select config-ref="Generic_Database_Configuration" doc:name="Database">
					<db:parameterized-query><![CDATA[select * from employee_data where employee_no=10]]></db:parameterized-query>
				</db:select>
				<dw:transform-message doc:name="Transform Message">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
"employee_no": payload[0].employee_no]]></dw:set-payload>
				</dw:transform-message>
			</when>
			<otherwise>
				<logger message="#[&quot;message fail&quot;]" level="INFO" doc:name="Logger"/>
			</otherwise>
		</choice>
	</flow>
</mule>
